.sectionTitle {
  font-size: 24px;
  line-height: 18px;
  font-weight: 500;
  font-family: Poppins;
  color: var(--text-primary);
  text-align: center;
  margin-bottom: 24px;
  @media (min-width: 768px) {
    font-size: 36px;
    line-height: 28px;
    text-align: start;
  }
}
